hybris/*
/hybris/
hybris-*
*.class
gensrc
velocity.log
uoj_trace.log
.springBeans
.sonar
org.eclipse.jdt.groovy.core.prefs
extensions/*/.ruleset
extensions/*/.settings/org.sonar.ide.eclipse.core.prefs
extensions/*/.settings/org.moreunit.prefs
extensions/*/build.xml
extensions/*/platformhome.properties
extensions/*/extensioninfo.xsd
extensions/*/eclipsebin
extensions/*/eclipse
extensions/*/resources/beans.xsd
extensions/*/resources/items.xsd
extensions/*/resources/*/*-testclasses.xml
extensions/*/resources/*/*-webtestclasses.xml
extensions/*/hmc/bin/*hmc.jar
extensions/*/hmc/resources/hmc.xsd
extensions/*/reports
extensions/*/web/webroot/cockpit
extensions/*/web/webroot/WEB-INF/classes/
extensions/*/resources/backoffice/*.jar
xebium/*/bin
xebium/*/target
xebium/dist
xebium/cloudshopwikipages/FitNesseRoot/*
xebium/**/*.zip
!xebium/cloudshopwikipages/FitNesseRoot/FrontPage/
xebium/cloudshopwikipages/FitNesseRoot/FrontPage/CloudshopEnvironmentVariables
xebium/cloudshopwikipages/FitNesseRoot/FrontPage/CloudShop/*/*/*.zip
xebium/cloudshopfrontenduitests/resources/**/environments
.metadata
performancetests/
xebium.log
fortify.classpath
*.iml
.idea/*
environments/config-yaml/bin
secureconfig
uiautomation/report
uiautomation/conf/*.properties
uiautomation/conf/log4j2-local.xml
uiautomation/logs/*
uiautomation/node_modules/*
nohup.out
.idea
rebel.xml
licenses/
pom.xml
/xebium/cloudshopwikipages/testsrc/FitNesseRoot/BackendSuites/CloudshopUseCases/HybrisReporting/HybrisToStagingReporting/OrderAndOrderLineHybrisAfterCanselationToStagingReporting/content.txt
/xebium/cloudshopwikipages/testsrc/FitNesseRoot/BackendSuites/CloudshopUseCases/HybrisReporting/HybrisToStagingReporting/OrderAndOrderLineHybrisAfterCanselationToStagingReporting/properties.xml
bootstrap/null
*.DS_Store
RemoteSystemsTempFiles
bootstrap/bin
extensions/b2bstepdefs/lib/.lastupdate
extensions/b2bstepdefs/lib/*.war
extensions/b2bstepdefs/doc
uoj_trace.log

