<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Back End Webservice Settings</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string>your.sample.domain.com</string>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Host (Domain):</string>
			<key>Key</key>
			<string>backend_host</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string>9002</string>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Port:</string>
			<key>Key</key>
			<string>backend_port</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Use Offline Mode (cache)</string>
			<key>Key</key>
			<string>backend_usecache</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string>rest/v2</string>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Webservice Version Url:</string>
			<key>Key</key>
			<string>backend_restversion_prefix</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Store and Catalog Settings</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>AutocapitalizationType</key>
			<string>None</string>
			<key>AutocorrectionType</key>
			<string>No</string>
			<key>DefaultValue</key>
			<string>powertools</string>
			<key>IsSecure</key>
			<false/>
			<key>Key</key>
			<string>current_store</string>
			<key>KeyboardType</key>
			<string>Alphabet</string>
			<key>Title</key>
			<string>Store:</string>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>DefaultValue</key>
			<string>powertoolsProductCatalog</string>
			<key>Title</key>
			<string>Catalog:</string>
			<key>Key</key>
			<string>current_catalog</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string>Online</string>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Catalog Version:</string>
			<key>Key</key>
			<string>current_catalog_version</string>
		</dict>
	</array>
	<key>StringsTable</key>
	<string>Root</string>
</dict>
</plist>
